.dashboard-header {
    background: linear-gradient(60deg, #ef5350, #e53935);
    background-color: red;
    color: #FFF;
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px;

    & .title {
      margin: 0;
      margin-bottom: 5px;
    }
}

.content {
  background-color: #FFF;
  border-radius: 3px;
  margin: 25px 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.customerDetailCollapsed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & .buttonStyle {
    display: flex;
    flex-direction: row;
  }
}

.customerDetailOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & .buttonStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
