<div class="main-content">

    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <div class="card-header" data-background-color="red">
                    <h4 class="title">Route Summary </h4>

                </div>
                <div class="card-content table-responsive">
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="date">
                        </div>
                    </div>
                    <table class="table">
                        <thead class="text-danger">
                            <tr>
                                <th>
                                    Route No.
                                </th>
                                <th>
                                    Driver Name
                                </th>
                                <th>
                                    # of tickets
                                </th>
                                <th>
                                    Amount($)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>801</td>
                                <td>Jack</td>
                                <td>15</td>
                                <td class="text-danger">129.00</td>
                            </tr>
                            <tr>
                                <td>811</td>
                                <td>Robert</td>
                                <td>13</td>
                                <td class="text-danger">111.99</td>
                            </tr>
                            <tr>
                                <td>821</td>
                                <td>Billy</td>
                                <td>11</td>
                                <td class="text-danger">145.21</td>
                            </tr>
                            <tr>
                                <td>891</td>
                                <td>John</td>
                                <td>16</td>
                                <td class="text-danger">145.21</td>
                            </tr>
                            <tr>
                                <td>891</td>
                                <td>Peter</td>
                                <td>18</td>
                                <td class="text-danger">145.21</td>
                            </tr>
                            <tr>
                                <td>871</td>
                                <td>Chris</td>
                                <td>13</td>
                                <td class="text-danger">145.21</td>
                            </tr>


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title"> Score Card </h4>

                </div>
                <div class="card-content table-responsive">
                    <select class="form-control">
                        <option value="volvo">07/24/2017</option>
                        <option value="saab">07/25/2017</option>
                        <option value="opel">07/23/2017</option>
                        <option value="audi">07/22/2017</option>
                    </select>
                    <div class="row">
                        <div class="col-md-6">
                            <pie-chart></pie-chart>
                        </div>
                        <div class="col-md-6">
                            <line-chart></line-chart>
                        </div>
                        <!--<div class="col-md-6">
                            <donought-chart></donought-chart>
                        </div>
                        <div class="col-md-6">
                            <line-chart></line-chart>
                        </div>-->
                    </div>



                </div>
            </div>
        </div>

    </div>

</div>