.customerDetailCollapsed {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   & .buttonStyle {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }
   @media only screen and (min-width: 640px) {
      flex-direction: row;
      align-items: center;
      & .buttonStyle {
        justify-content: initial;
      }
   }
 }
 
 .customerDetailOpen {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   & .buttonStyle {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }
 }