<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Customer Management </h4>
                </div>
                <div class="card-content">
                    <div>
                        <h4>Distributor : Dist-001</h4>
                        <div>
                            <div style="display:inline-block;">
                                <a href="#pablo" class="btn btn-danger btn-round">Set Generic Price</a>
                            </div>
                            <div style="display:inline-block;margin-left:25px;">
                                <a href="#pablo" class="btn btn-danger btn-round" [routerLink]="['add']">Add Customer</a>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-danger">
                                    <tr>
                                        <th>
                                            Customer#
                                        </th>
                                        <th>
                                            Customer Name
                                        </th>
                                        <th>
                                            RI Customer
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of customers">
                                        <td>{{customer.customerId}}</td>
                                        <td>{{customer.customerName}}</td>
                                        <td class="text-danger">{{customer.isReddyIceCustomer}}</td>
                                        <td><span class="glyphicon glyphicon-edit"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>