<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Customer Management </h4>
                </div>
                <div class="card-content">
                    <div>
                        <div class="customerDetailCollapsed">
                            <label><b>Distributor : Dist-001</b></label>
                            <div class="buttonStyle">
                                <div>
                                    <a href="#pablo" class="btn btn-danger btn-round">Set Generic Price</a>
                                </div>
                                <div style="margin-left:25px;">
                                    <a href="#pablo" class="btn btn-danger btn-round" [routerLink]="['add']">Add Customer</a>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filterText" >
                        <div class="table-responsive">
                            <table class="table" #customer>
                                <thead class="text-danger">
                                    <tr>
                                        <th>
                                            <span style="cursor:pointer;" (click)="customer.sortField = 'customerId';customer.isAsc=!customer.isAsc;">
                                                Customer#
                                                <i class="fa fa-sort" *ngIf="(customer.sortField == 'customerId')" [ngClass]="(customer.isAsc && customer.sortField == 'customerId' ? 'fa-sort-up' : 'fa-sort-down')" aria-hidden="false"></i>                                                
                                            </span>
                                        </th>
                                        <th>
                                            <span style="cursor:pointer;" (click)="customer.sortField = 'customerName';customer.isAsc=!customer.isAsc;">
                                                Customer Name
                                                <i class="fa fa-sort" *ngIf="(customer.sortField == 'customerName')" [ngClass]="(customer.isAsc && customer.sortField == 'customerName' ? 'fa-sort-up' : 'fa-sort-down')" aria-hidden="false"></i>
                                            </span>
                                        </th>
                                        <th>
                                            <span style="cursor:pointer;" (click)="customer.sortField = 'email';customer.isAsc=!customer.isAsc;">
                                                Email ID
                                                <i class="fa fa-sort" *ngIf="(customer.sortField == 'email')" [ngClass]="(customer.isAsc && customer.sortField == 'email' ? 'fa-sort-up' : 'fa-sort-down')" aria-hidden="false"></i>
                                            </span>
                                        </th>
                                        <th>
                                            <span style="cursor:pointer;" (click)="customer.sortField = 'routeId';customer.isAsc=!customer.isAsc;">
                                                Route ID
                                                <i class="fa fa-sort" *ngIf="(customer.sortField == 'routeId')" [ngClass]="(customer.isAsc && customer.sortField == 'routeId' ? 'fa-sort-up' : 'fa-sort-down')" aria-hidden="false"></i>
                                            </span>
                                        </th>
                                        <th>
                                            <span style="cursor:pointer;" (click)="customer.sortField = 'isReddyIceCustomer';customer.isAsc=!customer.isAsc;">
                                                RI Customer
                                                <i class="fa fa-sort" *ngIf="(customer.sortField == 'isReddyIceCustomer')" [ngClass]="(customer.isAsc && customer.sortField == 'isReddyIceCustomer' ? 'fa-sort-up' : 'fa-sort-down')" aria-hidden="false"></i>
                                            </span>
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of customers | customerSearch:filterText | sortCustomer:customer.sortField:customer.isAsc">
                                        <td>{{customer.customerId}}</td>
                                        <td>{{customer.customerName}}</td>
                                        <td>{{customer.email}}</td>
                                        <td>{{customer.routeId}}</td>
                                        <td class="text-danger">{{customer.isReddyIceCustomer}}</td>
                                        <td><a [routerLink]="['./edit', customer.customerId]"><span class="glyphicon glyphicon-edit"></span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>