<!--User Management-->
<div class="main-content">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Users</h4>
                </div>
                <div class="card-content table-responsive">
                    <div class="row">
                        <div class="col-md-12" style="margin-top:17px;">
                            <label><b>Distributor : Dist-001</b></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="exampleInputName3" placeholder="Search" style="margin-top:15px;">
                        </div>
                        <div class="col-md-2">
                            <a href="#pablo" class="btn btn-danger btn-round" [routerLink]="['add-user']">Create user</a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>ID</th>
                                    <th>Route ID</th>
                                    <th>User Name</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.id}}</td>
                                    <td>{{user.Route_id}}</td>
                                    <td>{{user.Username}}</td>
                                    <td>{{user.Role}}</td>
                                    <td>
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>