<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Reconciliation</h4>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="" style="margin-right: 78px;margin-top: 25px;">
                            <select class="form-control">
                                <option value="volvo">301/301</option>
                                <option value="saab">302/302</option>
                                <option value="opel">303/303</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                         <input type="text" class="form-control" id="exampleInputName3" placeholder="Search" style="margin-top:23px;">
                    </div>
                </div>
                <div class="card-content">
                    <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Route Number</th>
                                    <th>Location/Branch</th>
                                    <th># of Tickets</th>
                                    <th>Amount($)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>801</td>
                                    <td>311</td>
                                    <td>15</td>
                                    <td>1209.00</td>
                                    <td>
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>802</td>
                                    <td>312</td>
                                    <td>14</td>
                                    <td>1209.00</td>
                                    <td>
                                        <a [routerLink]="['./cash']"><span class="glyphicon glyphicon-edit"></span></a>
                                        <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>803</td>
                                    <td>313</td>
                                    <td>13</td>
                                    <td>1209.00</td>
                                    <td>
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>804</td>
                                    <td>314</td>
                                    <td>12</td>
                                    <td>1209.00</td>
                                    <td>
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>805</td>
                                    <td>315</td>
                                    <td>11</td>
                                    <td>1209.00</td>
                                    <td>
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                </div>
            </div>
        </div>
    </div>
</div>

