<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Reconciliation</h4>
                </div>
                <div class="card-content">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <label style="margin-left: 30px;">Route:</label>
                                <label style="margin-left: 30px;"> 801</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <label style="margin-left: 30px;">Driver:</label>
                                <label style="margin-left: 30px;"> Deangelo Parks</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <label style="margin-left: 30px;">Status:</label>
                                <label style="margin-left: 30px;">Pending Checker Approval</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:30px;">
                        <div class="col-md-6" style="margin-top:14px;">
                            <span class="glyphicon glyphicon-minus-sign" style="font-size:20px;"></span>
                            <label style="margin-left: 20px;">Cash Reconciliation</label>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <a href="#pablo" class="btn btn-danger btn-round" [routerLink]="['../']">Approve</a>
                        </div>
                    </div>
                    <div class="col-md-12" style="border:1px solid #ddd;height:240px;">
                        <div class="col-md-12" style="margin-top:20px;">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <label><b>Payment</b></label>
                                </div>
                                <div class="col-md-4"> 
                                     <label><b>Actual</b></label>
                                </div>

                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:20px;">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    <label>Check</label>
                                </div>
                                <div class="col-md-4">
                                    <label>$10.90</label>
                                </div>
                                <div class="col-md-4"> 
                                     <input type="text" class="form-control">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <label>Coins</label>
                                </div>
                                <div class="col-md-6"> 
                                     <input type="text" class="form-control">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <label>Total Deposit</label>
                                </div>
                                <div class="col-md-6"> 
                                     <input type="text" class="form-control">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:20px;">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    <label>Cash</label>
                                </div>
                                <div class="col-md-4">
                                    <label>$5.00</label>
                                </div>
                                <div class="col-md-4"> 
                                     <input type="text" class="form-control">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <label>Misc</label>
                                </div>
                                <div class="col-md-6"> 
                                     <input type="text" class="form-control">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <label>Over/Short</label>
                                </div>
                                <div class="col-md-6"> 
                                     <input type="text" class="form-control">
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12" style="margin-top:30px;">
                        <div class="col-md-12" style="margin-top:14px;">
                            <span class="glyphicon glyphicon-minus-sign" style="font-size:20px;"></span>
                            <label style="margin-left: 20px;">Unit Reconciliation</label>
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-left:10px;">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Product</th>
                                    <th>Load</th>
                                    <th>Return</th>
                                    <th>Damage</th>
                                    <th>Sale</th>
                                    <th>Over/Short</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products">
                                    <td>{{product.product}}</td>
                                    <td>{{product.load}}</td>
                                    <td>{{product.return}}</td>
                                    <td>{{product.damage}}</td>
                                    <td>{{product.sale}}</td>
                                    <td>{{product.over_short}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" style="margin-top:30px;">
                        <div class="col-md-12" style="margin-top:14px;">
                            <span class="glyphicon glyphicon-minus-sign" style="font-size:20px;"></span>
                            <label style="margin-left: 20px;">Ticket Details</label>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left:10px;">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Cust#</th>
                                    <th>Customer</th>
                                    <th>Ticket</th>
                                    <th>Invoice Amount</th>
                                    <th>Cash</th>
                                    <th>Check</th>
                                    <th>Charge</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ticket of ticket_details">
                                    <td>{{ticket.customer_id}}</td>
                                    <td>{{ticket.Customer}}</td>
                                    <td>{{ticket.ticket}}</td>
                                    <td>{{ticket.invoice_amount}}</td>
                                    <td>{{ticket.cash}}</td>
                                    <td>{{ticket.check}}</td>
                                    <td>{{ticket.charge}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>