<div class="main-content"> 
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">{{title}}</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-12">
                        <!-- <div style="margin: 20px 0px;display: inline-block;font-size: 18px;">Add New Customer</div> -->
                            <a [routerLink]="selectedId ? ['../../'] : ['../']" class="btn btn-danger btn-round" style="float:right;">Save</a>
                        </div>
                    </div>
                    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 78px;">
                                    <label class="control-label">Customer Name</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="text" class="form-control" name="customerName" [(ngModel)]="customer.customerName" #userName="ngModel" [readonly]="isReadOnly" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 78px;">
                                    <label class="control-label">Type</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="" style="margin-right: 78px;margin-top: 25px;">
                                    <select class="form-control">
                                        <option value="volvo">Select Type</option>
                                        <option value="saab">Cocktail</option>
                                        <option value="opel">Icepack</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 78px;">
                                    <label class="control-label">Customer #</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="text" class="form-control" name="customerId" [(ngModel)]="customer.customerId" #customerName="ngModel" [readonly]="isReadOnly" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 78px;">
                                    <label class="control-label">Location</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="" style="margin-right: 78px;margin-top: 25px;">
                                    <select class="form-control">
                                        <option value="volvo">301/301</option>
                                        <option value="saab">302/302</option>
                                        <option value="opel">303/303</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 78px;">
                                    <label class="control-label">Branch</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="" style="margin-right: 78px;margin-top: 25px;">
                                    <select class="form-control">
                                        <option value="volvo">301/301</option>
                                        <option value="saab">302/302</option>
                                        <option value="opel">303/303</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 78px;">
                                    <label class="control-label">Address</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group form-black label-floating is-empty" style="margin-right: 78px;">
                                    <input type="text" class="form-control" name="address" [(ngModel)]="customer.address" #customerAddress="ngModel" [readonly]="isReadOnly" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 78px;">
                                    <label class="control-label">City</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="text" class="form-control" name="city" [(ngModel)]="customer.city" #customerCity="ngModel" [readonly]="isReadOnly" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 65px;">
                                    <label class="control-label">State</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="text" class="form-control" name="state" [(ngModel)]="customer.state" #customerState="ngModel" [readonly]="isReadOnly" required>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 30px;">
                                    <label class="control-label">Zip</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty" style="margin-right: 78px;">
                                    <input type="text" class="form-control" name="zip" [(ngModel)]="customer.zip" #customerZip="ngModel" [readonly]="isReadOnly" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 78px;">
                                    <label class="control-label">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty">
                                    <input type="text" class="form-control" name="phone" [(ngModel)]="customer.phone" #customerPhone="ngModel" [readonly]="isReadOnly" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-black label-floating is-empty" style="margin-left: 78px;">
                                    <label class="control-label">Email</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty" style="margin-right: 78px;">
                                    <input type="email" class="form-control" name="email" [(ngModel)]="customer.email" #customerEmail="ngModel" [readonly]="isReadOnly" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-content table-responsive" style="margin-left: 50px;">
                                    <table class="table">
                                        <thead class="text-danger">
                                            <tr>
                                                <th>
                                                    Product
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Cocktail-20</td>
                                            </tr>
                                            <tr>
                                                <td>Cocktail-10</td>
                                            </tr>
                                            <tr>
                                                <td>Cocktail-30</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2" style="text-align: center;padding-top: 100px;">
                                <p><span class="glyphicon glyphicon-arrow-left"></span></p>
                                <p><span class="glyphicon glyphicon-arrow-right"></span></p>
                            </div>
                            <div class="col-md-6">
                                <div class="card-content table-responsive" style="margin-right: 54px;">
                                    <table class="table">
                                        <thead class="text-danger">
                                            <tr>
                                                <th>
                                                    Product
                                                </th>
                                                <th>
                                                    Price
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Cocktail-20</td>
                                                <td>$112</td>
                                            </tr>
                                            <tr>
                                                <td>Cocktail-10</td>
                                                <td>$154</td>
                                            </tr>
                                            <tr>
                                                <td>Cocktail-30</td>
                                                <td>$75</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>