<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Reconciliation</h4>
                </div>
                <div class="card-content table-responsive">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="manual-ticket-header-container">
                          <div class="date-picker-container">
                              <date-picker></date-picker>
                          </div>
                          <div class="" style="text-align:center;">
                              <a href="#pablo" class="btn btn-danger btn-round" [routerLink]="['add']">Create Ticket</a>
                          </div>
                        </div>
                    </div>
                    <table class="table table-hover" style="margin-top: 25px;">
                        <thead class="text-danger">
                            <tr>
                                <th>Ticket Number</th>
                                <th>Customer</th>
                                <th>Amount($)</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ticket of tickets">
                                <td>{{ticket.ticketNumber}}</td>
                                <td>{{ticket.customerId}}</td>
                                <td>{{ticket.amount}}</td>
                                <td>{{ticket.status}}</td>
                                <td>
                                    <a [routerLink]="['cash']"><span class="glyphicon glyphicon-edit"></span></a>
                                    <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
