<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Create New User</h4>
                </div>
                <div class="card-content table-responsive">
                    <div class="row">
                        <div class="col-md-10">
                            <label><b>Create User</b></label>
                        </div>
                        <div class="col-md-2">
                            <a *ngIf="isReadOnly" class="btn btn-danger btn-round" style="float:right;" (click)="onEdit()">Edit</a>
                            <a *ngIf="!isReadOnly" [routerLink]="userId ? ['../'] : ['../../']" class="btn btn-danger btn-round" style="float:right;">Save</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating is-empty">
                                <span class="col-md-3">
                                            <label class="control-label">First Name</label>
                                        </span>
                                <span class="col-md-9">
                                    <input type="text" class="form-control" name="Username" [(ngModel)]="user.Username" [readonly]="isReadOnly" required>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating is-empty">
                                <span class="col-md-3">
                                            <label class="control-label">Last Name</label>
                                        </span>
                                <span class="col-md-9">
                                            <input type="text" class="form-control" name="Lastname" [(ngModel)]="user.Lastname" [readonly]="isReadOnly" required>
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating is-empty">
                                <span class="col-md-3">
                                            <label class="control-label">Phone</label>
                                        </span>
                                <span class="col-md-9">
                                            <input type="text" class="form-control" name="Phone" [(ngModel)]="user.Phone" [readonly]="isReadOnly" required>
                                        </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating is-empty">
                                <span class="col-md-3">
                                            <label class="control-label">Email</label>
                                        </span>
                                <span class="col-md-9">
                                            <input type="text" class="form-control" name="email" [(ngModel)]="user.email" [readonly]="isReadOnly" required>
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label style="margin-top:29px;"><b>List of mapped Location/branch</b></label>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger btn-round" onclick="demo.showNotification('top','right')">ADD Location</button>
                        </div>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>ID</th>
                                    <th>Route ID</th>
                                    <th>Location</th>
                                    <th>Branch</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let branch of branches">
                                    <td>{{branch.id}}</td>
                                    <td>{{branch.Route_id}}</td>
                                    <td>{{branch.Location}}</td>
                                    <td>{{branch.Branch}}</td>
                                    <td>
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>