<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Reconciliation</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 25px;">
                            
                        </div>
                        <div class="col-md-3" style="margin-top: 25px;">
                             <date-picker></date-picker>
                        </div>
                        <div class="col-md-3" style="text-align:center;">
                             <a href="#pablo" class="btn btn-danger btn-round" [routerLink]="['add']">Add Customer</a>
                        </div>
                    </div>
                    <table class="table" style="margin-top: 25px;">
                        <thead class="text-danger">
                            <tr>
                                <th>Ticket Number</th>
                                <th>Customer</th>
                                <th>Amount($)</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>6776237</td>
                                <td>2123</td>
                                <td>128.00$</td>
                                <td>Pending Approval</td>
                                <td>
                                    <a [routerLink]="['cash']"><span class="glyphicon glyphicon-edit"></span></a>
                                    <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>6776241</td>
                                <td>2122</td>
                                <td>28.00$</td>
                                <td>Approved</td>
                                <td>
                                    <a [routerLink]="['cash']"><span class="glyphicon glyphicon-edit"></span></a>
                                    <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>6776837</td>
                                <td>2124</td>
                                <td>98.00$</td>
                                <td>Pending Approval</td>
                                <td>
                                    <a [routerLink]="['cash']"><span class="glyphicon glyphicon-edit"></span></a>
                                    <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>6776435</td>
                                <td>2126</td>
                                <td>172.00$</td>
                                <td>Approved</td>
                                <td>
                                    <a [routerLink]="['cash']"><span class="glyphicon glyphicon-edit"></span></a>
                                    <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>6326237</td>
                                <td>2125</td>
                                <td>18.00$</td>
                                <td>Pending Approval</td>
                                <td>
                                    <a [routerLink]="['cash']"><span class="glyphicon glyphicon-edit"></span></a>
                                    <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>6722237</td>
                                <td>2127</td>
                                <td>12.00$</td>
                                <td>Approved</td>
                                <td>
                                    <a [routerLink]="['cash']"><span class="glyphicon glyphicon-edit"></span></a>
                                    <span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>