<footer class="ice-footer">
    <div class="">
        <!--<nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Company
                    </a>
                </li>
                <li>
                    <a href="#">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                       Blog
                    </a>
                </li>
            </ul>
        </nav>-->
        <p>
            &copy; Please note that while you are reviewing any information on this portal, the information is posted as of the dates listed. Reddy Ice has no obligation to update the information in the email alerts or otherwise from this website, which speak as
            of their respective dates.
        </p>
    </div>
</footer>